* {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;

    @font-face {
        font-family: 'Neue Machine';
        src: url('../fonts/neue-machina-regular.otf');
    }
}

body {
    /* background-color: #000; */
    color: #fff;

    background: rgb(2, 0, 36);
    background: linear-gradient(-60deg, rgba(2, 0, 36, 1) 0%, rgba(71, 9, 180, 0.9332107843137255) 46%, rgba(2, 0, 36, 1) 99%);
}

.header {
    padding-top: 1rem;
}

.main {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #fff;
    border-radius: 1rem;
}

@media only screen and (min-width: 768px){
    .main {
        max-width: 1024px;
        margin: 1rem 1rem;
    }
}